language: python

python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "pypy3"

install:
  - pip install coveralls
  - pip install -r requirements.txt

script:
  - env CFLAGS=--coverage coverage run --source=bitstruct setup.py test
  - make test-sdist

after_success:
  - coveralls
  - bash <(curl -s https://codecov.io/bash) -X coveragepy
