include LICENSE
include Makefile
include bitstruct/c.c
include bitstruct/bitstream.[hc]
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include tests *.py
